body {
    font-family: Arial;
    color: #383838;
    font-size: 18px;
}

header {
    background: url("assets/background-image.jpg") right 50% bottom 60%/cover;
    height: 200px;
    position: relative;
}

.logo {
    background: url("assets/logo.jpg") no-repeat center/cover;
    height: 142px;
    width: 142px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    left: 440px;
}

.container {
    width: 984px;
    margin: auto;
}

#main-col {
    float: left;
    width: 65%;
}

#sidebar {
    float: right;
    width: 30%;
}

.area-of-focus {
    display: block;
}